<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
    <div class="header">
        <a href="#default" class="logo">CRYPTOBOARD</a>
        <div class="header-right">
          <a class="active" href="#home">HOME</a>
          <a href="#contact">API SERVICE</a>
          <a href="#about">ABOUT</a>
        </div>
    </div>
  </nav>
     
  