<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--Inlcudes JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 

</head>
<body>

    <table id="table" >  
        <thead>  
            <tr>  
                <th>ID</th>  
                <th>Email</th>  
                <th>name</th>  
                <th>active</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% print.forEach(function (user) { %>
            <tr>  
                <td><%= user.id %></td>  
                <td><%= user.email %></td>
                <td><%= user.name %></td> 
                <td><%= user.active %></td> 
            </tr>                                   
         <% }) %>
         </tbody>
    </table>   
    
</body>

</html>
